@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mpa-navy: #12133c;
  --mpa-cyan: #38BDF8;
}

body {
  background-color: var(--mpa-navy);
  color: white;
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, sans-serif;
}